@media(max-width:660px){
.landingdiv{
    display: inline-block;
    width: 100%;
    justify-content: center;
    height: fit-content;
 

    
    
}

.landingimage{
    width: 100%;
    height: 1800px;
    display: inline;
}

.landingimage2{

    display: contents;
 
}
.navbar{
    display: inline-block;
  
}

.links{
    border:  1px solid rgb(70, 143, 172);
   border-radius: 15%;
}

.listitems, .links{
    display: inline-block;
   font-size: large;
   padding: 0px;
   
  
  
}
#head{
    display: inline;
   
    padding: 10px;
    
}

.logo{
    display: none;
}

center.mainhead{
    margin-top: -15px;
}

.mainhead1{
    font-size: 45%;
    display: contents;
  
   
  
}

.mainhead h4{
    margin-top: 130px;
    font-size: large;
}


.mainhead1:hover{
    display: contents;

    width: 100%;
    transition: 0.5s;
    padding: 10px;
 

 
   

}




   /* About section */

#about2{
    width: 100%;
    padding: 50px;
    display:contents;
   
}

.people{
    display:contents;
    justify-content: center;
    justify-self: center;
}

.textabout p{
     width: 100%;
     position: relative;
    


}

#carouselExampleCaptions{
    display:grid;
}

#carouselExampleCaptions{
    display: none;
    margin-right: 100px;
}

.text-center p{
    width: fit-content;
    
    
}

.container{
    display: contents;
    align-items: center;
 
   

}

/* card */
.container{
    height: fit-content;
    display: grid;
    
}

#reviews{
    display: contents;
    padding: auto;
}

.card-body{
    display: contents;
    justify-content: space-between;
    
    
}

.card-text{
    padding: 20px;
}
small{
    padding: 20px;
}

.card-title{
    padding-left: 20px;
    padding-top: 10px;
}
/* review section  */

#carouselExampleIndicators3{
    display: contents;
    justify-content: center;
    height: 100px;
    padding: 100px;
   

}
.carousel-indicators{
    height: 0px;
    display: none;
}

/* contact section  */

.contactform{
    display: contents;
    justify-content: center;
   
}

#p1{
    padding-left: 20px;
}


}

*{
    overflow-x:hidden;
   
}




/* landing image */
.landingimage{
    width: 100%;
    height: 830px;
    opacity: 0.7;
    position:absolute;
}

.landingdiv{
    height: 830px;
}

/* navbar */
.navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;
    
}
/* logo */
.logo{
    width: 130px;
}
/* list items  */
.listitems{
   display: inline-block;
    margin: 10px 20px;
    font-size: x-large;
}
/* links */

.links{
    text-decoration: none;
    color: black;
   
}

.links:hover{
    background-color: rgb(0, 0, 0);
    opacity: 0.55;
    position:relative;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.4s;
    font-size: xx-large;
    font-family: 'Roboto Condensed', sans-serif;

}
/* heading */

.mainhead{
    font-size: 200px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    position: relative;
    font: bold;
    height: 460px;
    overflow:unset;

    
}
.mainhead:hover{
    background-color: rgb(3, 4, 4);
    opacity: 0.55;
    position:relative;
    color: white;
    border-radius:100%;
    transition: 0.8s;
    font-size: 220px ;
    font-family: 'Roboto Condensed', sans-serif;
   
 
}

/* button */
.button button  {
    font-size: 30px;
    position:relative;
    border-radius: 30px;
    margin-top: 30PX;
    border: solid 1px black;
    font-family: 'Roboto Condensed', sans-serif;
    font: bolder;
    text-decoration: none;
}




.button button:hover{
    background-color: rgb(0, 0, 0);
    opacity: 0.65;
    position: relative;
    color: rgb(255, 253, 253);
    transition: 0.5s;
    font-size: 40px;
    font: bolder;
  
   border-radius: 50px;
}
/* about */
.landingimage2{
    width: 100%;
    height: 8115px;
    margin-top: 3px;
    opacity: 0.3;
    position:absolute;
 
}


#about{
  
    margin-top: 2px;
    position:relative;
  
}
/* Bootstrap Styling */

#carouselExampleCaptions{
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-left: 100px;
    
    
}


.container{
 
    /* display: inline; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.textabout{
    width: 65%;
    font-family: 'Roboto Condensed', sans-serif;



}

#about2{
    margin-left: 300px;
}

/* route logo */
.routemap img{
    width: 550px;
   height: 450px;
}
.routemap{
    margin-left: 830px;
    margin-top: -590px;
    width: 600px;
    height: 550px;
}
.routemap img:hover{
    width: 600px;
    height: 550px;
    transition: 0.6s;
    overflow: hidden;
    background-color:rgb(16, 140, 55);
    border-radius: 50px;
    opacity: 1;
    position: relative;
    
}

/* experience */

.experience{
    margin-left: 120px;
    margin-top: 100px;
   
    width: 40%;
    font-size: x-large;
    font-family: 'Roboto Condensed', sans-serif;
  
}

/* peoples */
.people img{

    width: 140px;
    height: 140px;
    
    border: groove 1px black;
    border-radius: 100%;
    margin-left: 90px;
    margin-top: 70px;
    background-color: white;
  

}

.guides img:hover{
    width: 190px;
    height: 190px;
    transition: 0.5s;
}



.guides{
    display: inline;
    width: 350px;
    height: 350px;
  

    
}
.people{
    width: 750px;
    height: 400px;
}

/* info */
.guidesinfo {
    display: inline-block;
   
    align-items: center;
    width: 120px;
    margin-left: 120px;
    margin-top: 13px;
    font-family: 'Roboto Condensed', sans-serif;

}
.guidesinfo3 {
    display: inline-block;
   
    align-items: center;
    width: 120px;
    margin-left: 105px;
    margin-top: 13px;
    font-family: 'Roboto Condensed', sans-serif;

}

.button2{
font-size: 22px;

border-radius: 30px;
color: rgb(0, 0, 0);
background-color: orange;


font-family: 'Roboto Condensed', sans-serif;

text-decoration: none;
}

.button2:hover
{
    background-color: hwb(120 0% 50%);
    opacity: 0.65;
    position: relative;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    font-size: 25px;
    font: bolder;
    border-radius: 50px;
   
}

/* review section */


#carouselExampleIndicators3{
    margin-left: 330px;
    border:groove 5px rgb(255, 238, 0);


}


.card1 img{
    height: 300px;
    width: 100%;
}

.row{
   align-items: center;
}

.photoreview{
    height: 100px;
}


/* contact section */

.contactform{
    width: 40%;
    margin-left: 460px;
    border: groove 1px rgb(21, 18, 18);
    border-radius: 30px;
    padding: 50px;
 
    
}


footer{
    margin: 3rem 0px;
    
}
.uparrow{
    float: right;
   
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    margin: 0px 10px 50px 0px;
}
.uparrow:hover{
    background-image: linear-gradient( to bottom right, rgb(47, 186, 45),rgb(255, 98, 0));
}
.uparrow :hover i{
    color: rgb(255, 255, 255);
    
}
.uparrow a{
    color: black;
}
.uparrow:hover i{
    color: rgb(255, 255, 255);
    animation: shake 0.95s infinite;
    
}







.iconset{
    display: flex;
    justify-content: center;
    margin: 3%;
}

.iconitems, .uparrow{

    display: flex;/* for getting the enterred text in a line  */
    margin: 0px 10px;
   
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    
}   

.iconitems:hover{
    background-image: linear-gradient( to bottom right, rgb(12, 209, 45),rgb(255, 132, 0));
}
.iconitems i{
  color: black;
  font-size: 30px;
  
}
.iconitems :hover i{
    color: rgb(255, 255, 255);
    animation: shake 0.95s infinite;
}

@keyframes shake{
    10%{
        transform:rotateY(90deg) ;   
    }

 20%{
    transform:repeat(-180deg) ;
 }
 30%{
    transform: repeat( 90deg);

 }
 40% {
    transform: rotateY(-45deg);
 }

}
#p1{
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}